
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-img">
    <h1>Оціни викладача</h1>
</div>
<div id="wrapper" class="wrapper">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="/Content/slider1.jpg" data-thumb="/Content/slider1.jpg" alt="" />
            <img src="/Content/slider2.jpg" data-thumb="/Content/slider2.jpg" alt="" data-transition="slideInLeft" />
            <img src="/Content/slider3.jpg" data-thumb="/Content/slider3.jpg" alt="" title="#htmlcaption" />
        </div>
    </div>
</div>
<div class="title">Можливості</div>
<div class="content">
    <div class="block">
        <a href="http://google.com">
            <img src="~/Content/1.jpg" alt="haha" />
            <p>Рейтинг викладачів ФІКТ</p>
        </a>
    </div>
    <div class="block">
        <a href="http://google.com">
            <img src="~/Content/2.jpg" alt="haha" />
            <p>Допоможи факультету</p>
        </a>
    </div>
    <div class="block">
        <a href="http://google.com">
            <img src="~/Content/3.jpg" alt="haha" />
            <p>Ваші пропозиції та побажання</p>
        </a>
    </div>
</div>
