
@{
    ViewBag.Title = "Index";
}
<link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

<style>
    .green {
        background-color: rgba(96, 255, 0, 0.37);
    }

    .red {
        background-color: rgba(255, 180, 0, 0.39);
    }
    .dashboard1>div{
        height: 360px;
    }
    .dashboard2>div {
        height: 300px;
    }
     .dashboard1 img,
    .dashboard2 img {
        display: block;
        margin: 0 auto;
    }
    content h1.header-text-hall-of {
        font-family: 'Indie Flower', cursive !important;
        font-size: 50px !important;
    }
    content h1,
    content h2,
    content h3,
    content h4,
    content h5,
    content h6 {
        font-family: 'PT Serif', serif !important;
    }
</style>
<h1 class="text-center header-text-hall-of">Hall of Fame</h1>
<div class="row dashboard1">
    <div class="col-lg-6 green">
        <h2 class="text-center">Найкращі викладачі!</h2>
        <img class="text-center" width="30%" src="/TeacherImg/good/1.jpg" />
        <h5 class="text-center">Ковальчук Андрій Михайлович</h5>
    </div>
    <div class="col-lg-6 red">
        <h2 class="text-center">Найгірші викладачі!</h2>
        <img class="text-center" width="30%" src="/TeacherImg/bed/1.jpg" />
        <h5 class="text-center">Коала</h5>
    </div>
</div>
<div class="row dashboard2">
    <div class="col-lg-3 green">
        <img class="text-center" width="50%" src="/TeacherImg/good/3.jpg" />
        <h5 class="text-center">Крижанівський В'ячеслав Борисович</h5>
    </div>
    <div class="col-lg-3 green">
        <img class="text-center" width="50%" src="/TeacherImg/good/2.jpg" />
        <h5 class="text-center">Дедеркал Павло Тадеушевич</h5>
    </div>
    <div class="col-lg-3 red">
        <img class="text-center" width="50%" src="/TeacherImg/bed/1.jpg" />
        <h5 class="text-center">Славний</h5>
    </div>
    <div class="col-lg-3 red">
        <img class="text-center" width="50%" src="/TeacherImg/bed/1.jpg" />
        <h5 class="text-center">Малий</h5>
    </div>
</div>

