@{
    ViewBag.Title = "Підтвердження пароля (якщо він був забутий) - Оціни викладача";
}

<title>@ViewBag.Title</title>
<content>
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Перевірте свою поштову скриньку, щоб змінити пароль.
        </p>
    </div>

</content>