
@{
    ViewBag.Title = "Лист надіслано - Оціни викладача";
}
<title>@ViewBag.Title</title>
<content>
    <h2>DisplayEmail</h2>
    <p class="alert-info">Лист підтвердження було надіслано на вказану адресу. Перевірте вашу поштову скриньку.</p>
</content>