
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="title">Адміністрація сайту</h1>
<div class="admin_menu">
    @Html.ActionLink("Додавання групи", "AddNewGroup", "AddingGroup", routeValues: null, htmlAttributes: new { title = "" })
    @Html.ActionLink("Додавання студента", "AddNewStudent", "AddingStudent", routeValues: null, htmlAttributes: new { title = "" })
    @Html.ActionLink("Список студентів", "ListOfUsers", "Admin", routeValues: null, htmlAttributes: new { title = "" })
    @Html.ActionLink("Додавання викладача", "AddNewTeacher", "AddingTeacher", routeValues: null, htmlAttributes: new { title = "" })   
</div>
