
@{
    ViewBag.Title = "Список студентів";
}
<div class="title">
    <hr /><h1>@ViewBag.Title</h1>
</div>
<table class="list-students">
    <tr>
        <th>Логін</th>
        <th>Пароль</th>
    </tr>

    @foreach (var S in ViewBag.Students)
    {
        <tr class="student">
            <td>@S.UserName</td>
            <td>@S.PasswordTxt</td>
        </tr>
    }
</table>
<img class="minion-allstudents" src="~/Content/13.jpg" />