
@{
    ViewBag.Title = "ListOfUsers";
}

<h2>Список користувачівs</h2>

<table>
    <tr>
        <th>Логін</th>
        <th>Пароль</th>
    </tr>

    @foreach (var S in ViewBag.Students)
    {
        <tr>
            <td>@S.UserName</td>
            <td>@S.PasswordTxt</td>
        </tr>
    }
</table>