.component {
	line-height: 1.5em;
    margin-top: 3pc;
    padding-top: 2em;
    max-width: 100%;
    display: block;
}

.mobile-component {
    display: none;
}

@media(max-device-width: 850px) {
    .content
    {
        width: 100%;
        margin: 0 auto;
        height: auto;
        margin-top: 3%;
        margin-bottom: 3%;
        min-height: 568px;
        position: relative;
    }
    form
     {
        max-width:100%;
    }

    .component {
        display: none;
    }

    .content-div {
        max-width: 100%;
    }

    .mobile-component {
        clear: both;
        display: block;
        position: relative;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

    label[for*="answer"] 
    {
        position: relative;
        top: -17px;
        left: -9px;
    }

    .title h1 {
        text-align: center;
    }

    .pointer {
        max-width: 100%;
        overflow: hidden;
    }

    td {
        width: 20px;
        max-width: 100%;
        text-align: center;
    }

    .mobile-component table th {
        text-align: center;
    }

    .mobile-component tbody th label {
        max-width: 100%;
    }

    .component th {
        background-color: #00bad2;
        font-weight: bold;
    }
}
.component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #d3d3d3;
}
.component table {
    border-collapse: collapse;
    margin-bottom: 3em;
    max-width: 100%;
    background: #fff;
}
.component td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
.component td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
.component th {
    background-color: #f5f5f5;
    font-weight: bold;
}
.component tbody th {
	background-color: #f5f5f5;
}
.component tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
.component tbody td:hover {
    background-color: rgba(129,208,177,.3);
    cursor: pointer;
}

.sticky-wrap {
	overflow: hidden;
    position: relative;
    margin-top: 3em;
    width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto;
}
.sticky-wrap .sticky-thead {
	box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
	z-index: 100;
	width: 100%;
}
.sticky-wrap .sticky-intersect {
	opacity: 1;
	z-index: 150;
}
.sticky-wrap .sticky-intersect th {
}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

td.user-name {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y:hidden;
	max-height: 50vh;
}

.mobile-component tbody tr:nth-child(3n+3)
{
    height: 30px;
}