span
{
    font-weight: bold;
    font-size: 15px;
    margin-top: 200px;

}
thead
{
    width: 100%;
    height: 10%;
}
/*less*/
form.form-horizontal {
    margin-top: -15px;
}
.form-group label{
    padding: 0;
}
.form-group.list-kaf .form-control{
    width: 110px;
}
html{
    background: url(bg.jpg);
}
body
{
    width: 92%;
    height: auto;
    margin: 0 auto !important;
    position: relative;
    box-shadow: 0 0 40px 11px rgba(0, 0, 0, 0.3);
}
header
{
    width: 100%;
    height: 45px;
    display: block;
    border-bottom: 2px black;
    background-color: #334878;
}
.menu
{
    float: left;
    width: auto;
    margin: 0 3%;
    letter-spacing: 1px;
}
.menu .entry{
    display: none;
}
.navbar-nav.on{
    width: 100px;
    margin-right: 4%;
}
.on a{
    font-weight: bold;
    padding: 12.5px 13px 12.5px 40px;
    float: left;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}
.on a:hover{
    background: rgb(53, 105, 155);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.on a:before{
    content: "";
    display: block;
    background: url(/Content/icon_man.svg);
    position: absolute;
    width: 20px;
    margin-left: -30px;
    background-size: 100%;
    height: 20px;
    display: inline-block;
}
.entry
{
    float: right;
    margin-right: 3%;
    letter-spacing: 1px;
    cursor: pointer;
}
.entry label{
    color: #2a6496;
}
header .menu a, header > a
{
    font-weight: bold;
    padding: 12.5px 13px;
    float: left;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
}
.login-user{
    margin: 0;
}
.login-user a:nth-child(1){
    text-transform: inherit;
    
}
.login-user div{
    float: left;
    max-width: 350px;
    overflow: hidden;
    padding: 12.5px 13px;
}
.login-user div a:hover{
}
.login-user div:hover{
    background: rgb(53, 105, 155);
    color: rgb(255, 255, 255);
}
.login-user div a{
    height: 20px;
    overflow:hidden;
    padding: 0;
}
header .menu a:active
{
    background: rgb(53, 105, 155);
    color: rgb(255, 255, 255);
}
header .menu a:hover, header > a:hover
{   
    background: rgb(53, 105, 155);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.login-form
{
    position: absolute;
    width: 250px;
    height: auto;
    text-align: center;
    right: 0;
    background: #f5f5f5;
    top: 45px;
    z-index: 17;
    display: none;
    border: 1px solid #334878;
    border-top: 0;
    border-right: 0;
}
.backing{
    position: absolute;
    z-index: 17;
    width: 100%;
    height: 100%;
    display: none;
}
.in label
{
    float: left;
    padding: 10px 15px 0;
    margin: 0;
}
.in input
{
    width: 90%;
    height: 30px;
    padding: 5px 12px;
    margin: 2px auto 3px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.in input:focus
{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.in button
{
    width: 90%;
    height: 30px;
    border: 0;
    background: #334878;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
}
.form-group button
{
        width: 320px;
    height: 35px;
    border: 0;
    background: #334878;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}
.forgot-pass
{
    color: #23527c;
    float: left;
    padding: 10px 15px;
}
content
{
    width: 95%;
    margin: 0 auto;
    min-height: 592px;
    position: relative;
    display: table;
}
.header-img{
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 1px;
    position: absolute;
    z-index: 16;
    top: 6.835%;
    left: 14%;
}
.header-img h1
{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 7px;
}
.header-img p{
    float: right;
    width: 390px;
}
.header-img p:nth-child(1){
    width: 860px;
    text-align: center;
    margin-top: 60px;
}
.header-img p:nth-child(2){
    text-align: right;
    border-right: 3px solid;
    padding-right: 10px;
    margin-top: 45px;
    font-style: italic;
    width: 355px;
    font-size: 17px;
    margin-left: 50%;
}
.header-img p:nth-child(2):hover{
    border-right: 3px solid #334878;
    transition: 0.2s;
}
.header-img div{
    display: table;
    float: right;
    width: 400px;
    border-top: 1px solid;
    margin: 3% 15px 0;
}
.header-img a{
    padding: 15px 20px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.2s;
    font-size: 16px;
    float: right;
    margin-top: 25px;
    color: rgb(255, 255, 255);
    border: 1px solid #334878;
    background: #334878;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
}
.header-img a:hover{
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
}
.content
{
    margin: 0 auto;
    height: auto;
    display: table;
    margin-top: 3%;
    margin-bottom: 3%;
}
.block
{
    margin: 0 35px;
    float: left;
    width: 250px;
    height: auto;
    text-align: center;
}
.block:hover img
{
    transform: scale(1.1);
}
.block:hover a:before
{
    background: hsla(0,0%,0%,0.5);
}
.block:hover p
{
    opacity: 1;
}
.img-block{
    width: 82%;
    height: auto;
    display: table;
    margin: 0 auto;
}
.content .title-history{
    margin-top: 50px;
}
.content .title-history h1{
    width: 50%;
}
.content-history, .content-map {
    font-size: 17px;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 5px solid #334878;
}
.title
{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFA507;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 34px;
    text-transform: uppercase;
}
.title h1{
    width: auto;
    display: inline-table;
    padding: 0 25px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    background: white;
}
.title hr{
    width: 100%;
    border-top: 3px solid #333;
    position: absolute;
    z-index: 2;
}
.block img
{
    height: auto;
    width: 100%;
    border: 1px solid #d4d6d9;
    transition: 0.3s;
}
.block a p
{
    padding: 92px 0;
    opacity: 0;
    width: 230px;
    transition: 0.5s;
    margin-top: -242px;
    margin-left: 6px;
    position: absolute;
    z-index: 3;
    font-size: 20px;
    color: white;
}
.block a
{
    float: left;
    overflow: hidden;
    text-decoration: none;
    margin-left: 5px;
}
.block a:before
{
    transition: 0.5s;
    position: absolute;
    z-index: 2;
    display: block;
    content: "";
    width: 242px;
    height: 242px;
    background: hsla(0,0%,0%,0);
}
.block > span{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #334878;
    font-size: 21px;
    display: block;
    margin-bottom: 10px;
    margin-top: 0;
}
footer
{   
    height: 40px;
    background: #373c43;
    color: #babcbf;
    padding: 11px 30px 0;
}
.nivoSlider {
	position:relative;
	width: 100%;
	height: 610px;
	overflow: hidden;
}
.nivoSlider img {
    width: 2000px;
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav {
	text-align:center;
    top: 29%;
    left: 45%;
    z-index: 21;
    position: absolute;
}
.nivo-controlNav a {
	display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.6;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    background: white;
}
.nivo-controlNav a.active {
	opacity: 1;
}
.nivo-prevNav {
    width: 18px;
    height: 35px;
    background: url('/Content/left.svg') no-repeat;
    background-size: contain;
    left: 8%;
}
.nivo-nextNav{
    width: 18px;
    height: 35px;
    background: url('/Content/right.svg') no-repeat;
    background-size: contain;
    right: 8%;
}
.teachers{
    width: 48%;
    /* margin: 0 auto; */
    height: auto;
    float: left;
    display: table;
    margin-bottom: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #333;
}
.teachers img{
    width: 170px;
    height: 225px;
    float: left;
    border: 1px solid #d4d6d9;
    border-radius: 10px;
}
.pib{
    color: #334878;
    text-transform: uppercase;
}
.about_teacher{
    display: block;
    float: left;
    width: 65%;
    margin-left: 4%;
}
.about_teacher span{
    font-size: 16px;
}
.about_teacher > p{
    font-style: italic;
    margin: 0;
}
.page-header{
    background: rgb(53, 120, 155);
    color: white;

}
.wrapper{
    width: 105.22%;
    margin-left: -31px;
    margin-bottom: 40px;
}
.admin_menu{
    margin: 20px 10px;
    width: 230px;
    float: left;
    border-right: 2px solid rgb(53, 105, 155);
}
.admin_menu a{
    padding: 8px 20px;
    width: 221px;
    color: black;
    font-weight: bold;
    font-size:16px;
    float: left;
    background: #FFA507;
    margin-bottom: 10px;
}
.admin_menu a:hover{
    color: white;
}
.value th{
    width: 250px;
}
.value td{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.value td.red1{
    color: #c9302c;
    font-size: 75px;
}
.value td.grean1{
    color: #449d44;
    font-size: 75px;
}
.value td.yellow{
    color: #FFA507;
    font-size: 75px;
}
.form-horizontal .form-group.list-kaf{
    margin-left: 20px;
    font-size: 16px;
    float: left;
}
.list-kaf label, .list-kaf .col-md-10 {
    float: left;
}
.kaf-submit .col-md-10 {
    margin: 0;
    display: inline-block;
}
.green {
    background-color: rgba(96, 255, 0, 0.37);
}
.red {
    background-color: rgba(255, 180, 0, 0.39);
}
.history_home{
    margin-bottom: 50px;
}
.dashboard{
    width: 100%;
    height: auto;
}
.dashboard > img{
    position: relative;
    top: 0;
    opacity: 0.91;
    float: left;
}
.minion1{
    float: left;
    width: 200px;
    height: auto
}
    .dashboard1>div{
        height: 360px;
    }
    .dashboard2>div {
        height: 300px;
    }
     .dashboard1 img,
    .dashboard2 img {
        display: block;
        margin: 0 auto;
    }