@media(max-width:775px) {
    label[for*="answer"]::before,
    label[for*="answer"]::after {
        position: absolute;
        content: '';
        border-radius: 50%;
    }
}

.teacher .img-style {
    height: 140px;
    width: auto;
    border-radius: 10px;
    display: inline-block;
    float: left;
    margin-left: 2em;
    margin-bottom: 1em;
}
.teacher span {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.teacher .link {
    font-size: 18px;
    font-style: oblique;
    padding-left: 20px;
}
/*-------------------------------------*/
input[type="radio"] {
    visibility:hidden;
}
label[for*="answer"] {
    position: relative;
    cursor: pointer;
    bottom: 9pt;
    right: 13pt;
}

label[for*="answer"]::before,
label[for*="answer"]::after {
    position: absolute;
    content: '';
    border-radius: 50%;
}

label[for*="answer"]::before {
    width: 24px;
    height: 25px;
    border: solid 2px #5a5a5a;
}

label[for*="answer"]::after {
    width: 12px;
    height: 13px;
    background-color: #00bad2;
    transform: scale(0);
    transition: transform 0.28s;
    top: 6px;
    left: 6px;
}

input[type="radio"]:checked ~ label[for*="answer"]::after {
    transform: scale(1.1);
}

.component table li {
    margin-left: 10pt;
}

.component ol {
    padding:0;
}

input[type="submit"] 
{
    float: right;
    color: white;
    background-color: #334878;
}