@media(max-width:775px) {
    label[for*="answer"]::before,
    label[for*="answer"]::after {
        position: absolute;
        top: -16px;
        content: '';
        border-radius: 50%;
        left: -5px;
    }
}

.teacher .img-style {
    height: 140px;
    width: auto;
    border-radius: 10px;
    display: inline-block;
    float: left;
    margin-left: 2em;
}
.teacher span {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.teacher .link {
    font-size: 18px;
    font-style: oblique;
    padding-left: 20px;
}
/*-------------------------------------*/
label[for*="answer"] {
    position: relative;
    cursor: pointer;
}

label[for*="answer"]::before,
label[for*="answer"]::after {
    position: absolute;
    top: -16px;
    content: '';
    border-radius: 50%;
    left: -5px;
}

label[for*="answer"]::before {
    width: 25px;
    height: 25px;
    border: solid 2px #5a5a5a;
}

label[for*="answer"]::after {
    width: 25px;
    height: 25px;
    background-color: #00bad2;
    transform: scale(0);
    transition: transform 0.28s;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked ~ label[for*="answer"]::after {
    transform: scale(1.1);
}